<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <script src="../script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <nav></nav>

    <div class="leftnav"></div>

    <div class="chart">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>



    <div class="infocontainer">
        <div class="card">
            <p>Alexys LAURENT</p>
            <p>N°8582549452</p>
            <p>
                <%= compte[0].Solde %>€
            </p>
        </div>
        <div class="btncontainer">
            <div class="revenu" onclick="send()">
                <p>+ Revenu</p>
            </div>
            <div class="depense" onclick="send()">
                <p>+ Dépense</p>
            </div>
        </div>

        <div class="infos">

        </div>
    </div>

    <h1>
        Hello
    </h1>


    <h2>
        <%= transactions[0].Categorie + ' - ' + transactions[0].Montant+"€ - "+ transactions[0].typeof %>
    </h2>

    <h2>
        <%= transactions[1].Categorie + ' - ' + transactions[1].Montant+" € - "+ transactions[1].typeof %>
    </h2>

    <h2>
        <%= transactions[2].Categorie + ' - ' + transactions[2].Montant+" € - "+ transactions[2].typeof %>
    </h2>

    <h2>
        <%= transactions[3].Categorie + ' - ' + transactions[3].Montant+" € - "+ transactions[3].typeof %>
    </h2>

    <h2>
        <%= transactions[4].Categorie + ' - ' + transactions[4].Montant+" € - "+ transactions[4].typeof %>
    </h2>

    <h2>
        solde du compte : <%= compte[0].Solde+" €" %>
    </h2>

    <h2>
        <%= transactions[transactions.length -2 ].Montant %>
    </h2>





</body>

</html>

























<script>



    let solde = <%= compte[0].Solde %>;
    let solde1 = 0;
    let solde2 = 0;
    let solde3 = 0;
    let solde4 = 0;
    let solde5 = 0;



    if ('<%= transactions[transactions.length - 1].typeof %>' == 'Depense') {
        solde1 = <%= compte[0].Solde + transactions[transactions.length - 1].Montant %>;
    } else {
        solde1 = <%= compte[0].Solde - transactions[transactions.length - 1].Montant %>;
    };

    if ('<%= transactions[transactions.length - 2].typeof %>' == 'Depense') {
        solde2 = solde1 + <%=  transactions[transactions.length - 2].Montant %>;
    } else {
        solde2 = solde1 - <%=  transactions[transactions.length - 2].Montant %>;
    };

    if ('<%= transactions[transactions.length - 3].typeof %>' == 'Depense') {
        solde3 = solde2 + <%=  transactions[transactions.length - 3].Montant %>;
    } else {
        solde3 = solde2 - <%=  transactions[transactions.length - 3].Montant %>;
    };

    if ('<%= transactions[transactions.length - 4].typeof %>' == 'Depense') {
        solde4 = solde3 + <%=  transactions[transactions.length - 4].Montant %>;
    } else {
        solde4 = solde3 - <%=  transactions[transactions.length - 4].Montant %>;
    };

    if ('<%= transactions[transactions.length - 5].typeof %>' == 'Depense') {
        solde5 = solde4 + <%=  transactions[transactions.length - 5].Montant %>;
    } else {
        solde5 = solde4 - <%=  transactions[transactions.length - 5].Montant %>;
    };

    let données = [solde5, solde4, solde3, solde2, solde1, solde];



    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['', '', '', '', '', ''],
            datasets: [{
                label: 'Montant du solde ',
                data: données,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(0, 0, 0, 1)',
                    'rgba(0, 0, 0, 1)',
                    'rgba(0, 0, 0, 1)',
                    'rgba(0, 0, 0, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                fill: true,
                tension: 0.2
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


</script>